<h1>Picks</h1>

<ul id="picks">
  <% @picks.each do |pick| %>
    <li class="less-bottom">
      <%= link_to "#{pick.name} (#{pick.guest.first_name})", pick.link, :target => "blank" %>
    </li>
  <% end %>
</ul>

<%= form_for(@pick) do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= hidden_field_tag "podcast", params[:slug] %>
  <%= f.text_field :link, :placeholder => "Link"  %>
  <%= select_tag "pick[guest_id]", options_from_collection_for_select(
    Guest.all.select do |guest| 
      guest.podcasts.include?(Podcast.friendly.find(params[:slug]))
    end, "id", "full_name"
  ) %>

  <%= f.submit "Add Pick"  %>

<% end %>

<%= link_to "Add Show Links", new_show_note_path(params[:slug]) %>
<%= link_to "View Podcast", podcast_path(params[:slug]) %>