<section class="full-panel gray">
  <section class="page-header">
    <article>
      <a href="<%= link %>"><h1><%= title %></h1></a>
      <p><%= description %></p>
      <span class="share inline-left">
        <a href="#" class="<%= button_color %>" target="_blank"><%= cta %></a>
      </span>
    </article>
  </section>
</section>

