<%= render 'pages/next_chat' %>
<br>
<br>
<section>
  <div class="main-column">
    <article>
      <% @activity.each do |activity| %>
      <div class="bottom-border">
        <div class="flag"><span class="<%= activity.category %>"><%= activity.category %></span></div>
        </br>
        <a href="<%= url_for activity.content %>"><h2><%= activity.content.name %></h2></a>
        <p><%= activity.content.description.truncate(170) %> <%= link_to "more", activity.content %></p>
        <div class="subtitle"><%= activity.content.created_at.strftime("%B %d, %Y") %></div>
        </br>
        </br>
      </div>
      </br>
      <% end %>
    </article>
  </div>

  <div class="sidebar">
    <div class="callout desktop">
      <div class="subtitle">next chat</div>
      <h1><%= @next_wednesday.strftime("%b %d") %></h1>
      <h3>9PM EST</h3>
      <div class="flag">
        <a href="<%= chat_info_path%>"><span>more info</span></a>
      </div>
    </div>

    <%= render 'side_nav' %> 

    <article class="sign-up">
      <%= render 'mailchimp_signup_form' %>
    </article>

  </div>

</section>
<section class="full-panel gray">
  <%= render 'pages/about' %>
</section>




