<%= render :partial => "pages/main_header", :locals => { :title => "Blog", :description => "Stories from newbies and not-so-newbies.", :button_color => "blue", :cta => "submit a story", :cta_link=> "https://docs.google.com/forms/d/1ROr_-AuqZT0sVe5Ci0M1C6JAOi-gl_8YCxHJ7vevJ0o/viewform?usp=send_form", link: chats_path } %>

<section id="new-resource">
  <div class="main-column buffer">
    <% @chats.each do |chat| %>
    <div class="bottom-border">
      <a href="<%= chat_path(chat) %>"><h2><%= chat.name %></h2></a>
      <span class="subtitle">
        <% if chat.author.present? %>
          <br>
          by <%= chat.author.full_name %>
        <% end %>
        <% if chat.date.present? %>
        from our chat on <%= chat.date.strftime("%B %d") %>
        <% end %>
      </span>
      <br>
      <br>
      <p><%= chat.description.truncate(250).html_safe %>
      <%= link_to "more", chat_path(chat) %>
      </p>
      <% if admin? %>
        <h3 class="page-nav-buttons">
          <%= link_to 'Edit', edit_chat_path(chat) %>
        </h3>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="sidebar">
    <div class="callout">
      <h3>Become a Contributer</h3>
      <p>We're looking for a few contributors to help us build out the blog. <br>Interested?</p>
      <div class="flag">
        <a href="https://docs.google.com/forms/d/1ROr_-AuqZT0sVe5Ci0M1C6JAOi-gl_8YCxHJ7vevJ0o/viewform?usp=send_form" target="_blank"><span>Yes</span></a>
      </div>
    </div>
    <%= render 'pages/side_nav' %> 
    <article class="sign-up desktop">
      <%= render 'pages/mailchimp_signup_form' %>
    </article>
  </div>
</section>