<%= render :partial => "pages/main_header", :locals => { :title => "Blog", :description => "Stories from newbies and not-so-newbies.", :button_color => "blue", :cta => "submit a story", link: chats_path } %>

<section id="new-resource">
  <div class="main-column buffer">
    <% @chats.each do |chat| %>
      <a href="<%= chat_path(chat) %>"><h2><%= chat.name %></h2></a>
      <%= simple_format(chat.description.truncate(300)) %>
      <% if admin? %>
        <h3 class="page-nav-buttons">
          <%= link_to 'Edit', edit_chat_path(chat) %>
        </h3>
      <% end %>
    <% end %>
  </div>
  <div class="sidebar">
    <div class="callout desktop">
      <h3>Tell Us A Story</h3>
      <p>Got a programming story to share? <br>We want to hear it.</p>
      <div class="flag">
        <a href="#"><span>pitch a story</span></a>
      </div>
    </div>
    <%= render 'pages/side_nav' %> 
    <article class="sign-up">
      <%= render 'pages/mailchimp_signup_form' %>
    </article>
  </div>
</section>