<%= render :partial => "pages/main_header", :locals => { :title => "Blog", :description => "Stories from newbies and not-so-newbies", :button_color => "blue", :cta_link=> "https://docs.google.com/forms/d/1ROr_-AuqZT0sVe5Ci0M1C6JAOi-gl_8YCxHJ7vevJ0o/viewform?usp=send_form", :cta => "submit a story", :link => chats_path } %>

<div id="chat">
  <section>
    <section class="main-column">
      <div class="buffer">
        <div class="header">
          <h2 class="title">
            <%= @chat.name%>
            <span class="subtitle">
              <% if @chat.date.present? %>
              from our chat on <%= @chat.date.strftime("%B %d") %>
              <% end %>
            </span>
            <span class="share">
              <span id="custom-tweet-button">
                <a class="tweet" target="blank" href="http://twitter.com/share?text='<%=@chat.name%>' by @CodeNewbies:&hashtags=CodeNewbie&url=http://www.codenewbie.org<%=chat_path(@chat)%>" class="popup">TWEET</a>
              </span> 
              <span>
                <%= mail_to nil, "Email", :subject => "Checkout '#{@chat.name}' from #CodeNewbies", :body => "http://www.codenewbie.org#{chat_path(@chat)}", :target => "blank", :class => "mail" %>
              </span>
            </span>
          </h2>
        </div class="buffer">

        <div class="module">
          <div class="description">
            <%= simple_format(@chat.description) %>
          </div>
        </div>

        <% if @chat.image.present? %>
        <div class="module image">
          <img src="/assets/<%= @chat.image %>">
        </div>
        <% end %>

        <% if @chat.favorite_tweets.present? %>
          <div class="module">
            <h3 class="title">Some our favorite tweets</h3>
            <%= simple_format(@chat.favorite_tweets) %>
          </div>
        <% end %>


        <% if @chat.resources.present? %>
          <div class="module">
            <h3 class="title">Links We Shared</h3>
            <%= simple_format(@chat.resources) %>
          </div>
        <% end %>

      </div>
      <% if admin? %>
        <h3 class="page-nav-buttons">
          <%= link_to 'Back to Chats', chats_path %>
          <%= link_to 'Edit', edit_chat_path(@chat) if admin? %>
          <%= link_to 'Delete', delete_chat_path(@chat) , :method => :delete, date: { confirm: "Sure ya wanna delete this?"} %>
        </h3>
      <% end %>
    </section>

    <div class="sidebar">
      <div class="callout">
        <h3>Become a Contributer</h3>
        <p>We're looking for a few contributors to help us build out the blog. <br>Interested?</p>
        <div class="flag">
          <a href="https://docs.google.com/forms/d/1ROr_-AuqZT0sVe5Ci0M1C6JAOi-gl_8YCxHJ7vevJ0o/viewform?usp=send_form" target="_blank"><span>Yes</span></a>
        </div>
      </div>
      <%= render 'pages/side_nav' %> 

      <article class="sign-up desktop">
        <%= render 'pages/mailchimp_signup_form' %>
      </article>
    </div>


  </section>
</div>