<div id="chat">
  <section>
    <div>
      <div class="module">
        <h1 class="title">
          <%= @chat.name%>
        </h1>

        <p class="subtitle">
          <%= @chat.date.strftime("%B %d") if @chat.date %>
        </p>
      </div>

      <div class="module">
        <%= simple_format(@chat.description) %>
      </div>

      <div class="module">
        <h3 class="title">Some our favorite tweets</h3>
        <%= simple_format(@chat.favorite_tweets) %>
      </div>

      <div class="module">
        <%= simple_format(@chat.tweet) %>
      </div>

    </div>
    <% if admin? %>
      <h3 class="page-nav-buttons">
        <%= link_to 'Back to Chats', chats_path %>
        <%= link_to 'Edit', edit_chat_path(@chat) if admin? %>
        <%= link_to 'Delete', delete_chat_path(@chat) , :method => :delete, date: { confirm: "Sure ya wanna delete this?"} %>
      </h3>
    <% end %>
  </section>
</div>