<div id="chat">
  <section>
    <div>
      <div class="header">
        <h1 class="title">
          <%= @chat.name%>
          <span class="subtitle">
            on <%= @chat.date.strftime("%B %d") if @chat.date %>
          </span>
        </h1>
      </div>

      <div class="module">
        <div class="description">
          <%= simple_format(@chat.description) %>
        </div>
      </div>

      <div class="module">
        <h3 class="title">Some our favorite tweets</h3>
        <%= simple_format(@chat.favorite_tweets) %>
      </div>

      <div class="module">
        <h3 class="title">More Resources</h3>
        <%= simple_format(@chat.resources) %>
      </div>

      <div class="module">
        <p>Got more resources on impostor syndrome to share? Tweet us at <a href="https://twitter.com/CodeNewbies">@CodeNewbies</a></p>
      </div>

    </div>
    <% if admin? %>
      <h3 class="page-nav-buttons">
        <%= link_to 'Back to Chats', chats_path %>
        <%= link_to 'Edit', edit_chat_path(@chat) if admin? %>
        <%= link_to 'Delete', delete_chat_path(@chat) , :method => :delete, date: { confirm: "Sure ya wanna delete this?"} %>
      </h3>
    <% end %>
  </section>
</div>