<section id="edit-resources">
  <article>
    <h1>
      <%= link_to 'Resources', resources_path %>
    </h1>

    <br>

     <%= button_to 'Add New Resource', new_resource_path, :method => :get %>
  </article>

  <% @resources.each do |resource| %>
    <article id="resource_<%= resource.id %>">
      <%= form_for(resource, remote: true) do |f| %>
        <%= render :partial => 'form', :locals => { :f => f } %>
        
        <%= f.submit 'Update', name: 'update_button', id: 'update_button' %>
        <%= f.submit 'Delete', name: 'delete_button', id: 'delete_button' %>
      <% end %>
    </article>
  <% end %>
</section>