<section class="full-panel gray">
  <section class="page-header">
    <article>
      <h1>Learning Resources</h1>
      <p>Some of our favorite programming learning resources.<br> What's yours?</p>
      <span class="share inline-left">
        <a href="#" class="blue" target="_blank">Share a resource</a>
      </span>
    </article>
  </section>
</section>

<section id="resources">
  <article>
    <p>
      <h3>Format
        <% Resource.format_counts.sort{ |x,y| x.name <=> y.name }.each do |tag| %>
            <span class="tag">
              <%= link_to tag.name, tag_path(tag.name) %>
            </span>
        <% end %>
      </h3>
    </p>
    <p>
      <h3>Languages
        <% Resource.proglang_counts.sort{ |x,y| x.name <=> y.name }.each do |tag| %>
            <span class="tag">
              <%=link_to tag.name, tag_path(tag.name) %>
            </span>
        <% end %>
      </h3>
    </p>

<hr>
    <% @resources.each do |resource| %>
      <article class="resource">
        <h2><%= link_to resource.name, resource.link %></h2>
        <p><%= resource.description %></p>

        <span>Format:</span>
        <% resource.format_list.sort.each do |tag| %>
          <span class="tag">
            <%= link_to tag, tag_path(tag) %>
          </span>
        <% end %>

        <br><br>

        <span>Languages:</span>
        <% resource.proglang_list.sort.each do |tag| %>
          <span class="tag">
            <%= link_to tag, tag_path(tag) %>
          </span>
        <% end %>
      </article>
    <% end %>
  </article>
</section>