<section id="resources">
  <article>
    <h1>
      <%= link_to "Resources", resources_path %>
    </h1>

    <p>
      Here are some of our favorite programming resources. Got one you want added to the list? Tweet us at 
      <a href="https://twitter.com/codenewbies">
        @CodeNewbies
      </a>
    </p>

    <p>
      <h3>Format
        <% Resources.format_counts.sort{ |x,y| x.name <=> y.name }.each do |tag| %>
            <span class="tag">
              <%= link_to tag.name, tag_path(tag.name) %>
            </span>
        <% end %>
      </h3>
    </p>
    <p>
      <h3>Languages
        <% Resources.proglang_counts.sort{ |x,y| x.name <=> y.name }.each do |tag| %>
            <span class="tag">
              <%=link_to tag.name, tag_path(tag.name) %>
            </span>
        <% end %>
      </h3>
    </p>

<hr>
    <% @resources.each do |resource| %>
      <article class="resource">
        <h2><%= link_to resource.name, resource.link %></h2>
        <p><%= resource.description %></p>

        <span>Format:</span>
        <% resource.format_list.sort.each do |tag| %>
          <span class="tag">
            <%= link_to tag, tag_path(tag) %>
          </span>
        <% end %>

        <br><br>

        <span>Languages:</span>
        <% resource.proglang_list.sort.each do |tag| %>
          <span class="tag">
            <%= link_to tag, tag_path(tag) %>
          </span>
        <% end %>
      </article>
    <% end %>
  </article>
</section>