<div id="blog-post">
  <section id="resources">
    <article>
      <h1>
        <%= @blog_post.title%>
      </h1>
      <% @blog_post.tag_list.sort.each do |tag| %>
        <span class="tag">
          <%= link_to tag, blog_tag_path(tag) %>
        </span>
      <% end %>
      <p>
        <%= simple_format(@blog_post.body) %>
      </p>
    </article>
    <h3 class="page-nav-buttons">
      <%= link_to 'Back to Stories', blogs_path %>
      <%= link_to 'Edit', edit_blog_path(@blog_post) if admin? %>
    </h3>
  </section>
</div>