<section class="full-panel gray">
  <section class="page-header">
    <article>
      <h1>Podcast</h1>
      <p>stories of people on their coding journey</p>
      <span class="share inline-left">
        <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="blue" target="_blank">iTunes</a>
        <a href="http://feeds.podtrac.com/q8s8ba9YtM6r" class="orange" target="_blank">RSS</a>
      </span>
    </article>
  </section>
</section>

<% if false %>
<section id="new-resource">
  <div class="main-column">
    <% @episodes.each do |episode| %>
    <article>
      <a href="<%= url_for episode %>"><h2><%= episode.name %></h2></a>
      <p>
        <%= episode.description.truncate(200) %>
        <%= link_to "more", podcast_path(episode) %>
      </p>
      <div class="subtitle"><%= episode.created_at.strftime("%B %d, %Y") %></div>
      <% if admin? %>
        <h3 class="page-nav-buttons">
          <%#= link_to 'Edit', edit_episode_path(episode) %>
          <%#= link_to 'Delete', delete_episode_path(episode) %>
        </h3>
      <% end %>
    </article>
    <% end %>

    <p class="caption buffer">
      <br>
      We're looking for sponsors for the CodeNewbie podcast. Interested? Email us at <%= mail_to "hello@codenewbie.org" %>.
    </p>
  </div>

  <div class="sidebar">
    <div class="callout">
      <h3>Submit a Shoutout!</h3>
      <p>Got a project, a blog post, or a program that we should put on the podcast?</p>
      <div class="flag">
        <a href="https://docs.google.com/forms/d/1g2HrVxd7qge5JokhJT5AeK6YOqHNjf1oK3eGRCIT1aY/viewform?usp=send_form" target="_blank"><span>submit a shoutout</span></a>
      </div>
    </div>
    <%= render 'pages/side_nav' %> 
    <article class="sign-up desktop">
      <%= render 'pages/mailchimp_signup_form' %>
    </article>
  </div>
</section>
<% end %>

<section>
  <% @episodes.each do |episode| %>
  <article>
    <div class="small-12 medium-4 large-3 columns">
      <a href="<%= url_for(episode) %>"><img src="<%= episode.image_link %>"></a>
    </div>
    <div class="small-12 medium-8 large-9 columns">
      <a href="<%= url_for(episode) %>"><h3>Ep. <%= episode.episode_number %> - <%= episode.name %> <span class="subtitle desktop">  ( <%= guest_name(episode) %> )</span></h3></a>
      <p><span class="mobile"><%= guest_name(episode) %><br></span><span class="subtitle"><%= episode.published_on.strftime("%B %d, %Y") %></span></p>
      <p><%= episode.description.truncate(200).html_safe %> <%= link_to "more", episode %></p>
    </div>
  </article>
  <% end %>

</section
