<section class="full-panel gray">
  <section class="page-header">
    <article>
      <h1>Podcast</h1>
      <p>stories of people on their coding journey</p>
      <span class="share inline-left">
        <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="blue" target="_blank">iTunes</a>
        <a href="http://feeds.podtrac.com/q8s8ba9YtM6r" class="orange" target="_blank">RSS</a>
      </span>
    </article>
  </section>
</section>

<section>
  <% @episodes.each do |episode| %>
  <article>
    <div class="small-12 medium-4 large-3 columns">
      <a href="<%= url_for(episode) %>"><img src="<%= episode.image_link %>"></a>
    </div>
    <div class="small-12 medium-8 large-9 columns">
      <a href="<%= url_for(episode) %>"><h3>Ep. <%= episode.episode_number %> - <%= episode.name %> <span class="subtitle desktop">  ( <%= guest_name(episode) %> )</span></h3></a>
      <p><span class="mobile"><%= guest_name(episode) %><br></span><span class="subtitle"><%= episode.published_on.strftime("%B %d, %Y") %></span></p>
      <p><%= episode.description.truncate(200).html_safe %> <%= link_to "more", episode %></p>
    </div>
  </article>
  <% end %>

</section
