<div id="podcast-episode">
  <section id="resources">
    <article>
      <a href="<%= podcasts_path %>"><h1>Podcast</h1></a>

      <h2 class="title">
        <%= @episode.name %>
        <span class="share inline-right">
          <span id="custom-tweet-button">
            <a class="green" target="blank" href="http://twitter.com/share?text='<%=@episode.name%>' by @CodeNewbies:&hashtags=CodeNewbie&url=http://www.codenewbie.org<%=podcast_path(@episode)%>" class="popup">TWEET</a>
          </span> 
          <span>
            <%= mail_to nil, "Email", :subject => "Checkout '#{@episode.name}' from the CodeNewbie Podcast", :body => "http://www.codenewbie.org#{podcast_path(@episode)}", :target => "blank", :class => "gray" %>
          </span>
        </span>
      </h2>

      <div class="jw-audio">

      <div id='playerCxKAeqkKjbSj' class="jw-audio"></div>
        <script type='text/javascript'>
            jwplayer('playerCxKAeqkKjbSj').setup({
                file: '<%= @episode.audio_link %>',
                title: 'Ep. 1 - Bootcamps, Water Coolers, and Hiring Devs',
                width: '100%',
                height: 30
            });
        </script>
      </div>
      <div>
        <span class="share inline-left">
          <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="blue" >iTunes</a>
          <a href="http://bloggytoons.com/codenewbies?format=rss" class="orange" >RSS</a>
        </span>
        <br>
        <br>
        <br>
      </div>

      <% if @episode.description.present? %>
        <h3 class="green">Description</h3>
        <%=simple_format(@episode.description)%>
      <% end %>

      <% if !@episode.picks.empty? %>
        <h3 class="green">Picks</h3>
        <ul>
        <% @episode.picks.each do |pick| %>
          <li class="less-bottom-space"><%= link_to pick.name, pick.link, target: "blank" %> (<%= pick.author.first_name %>)</li>
        <% end %>
        </ul>
      <% end %>

      <% if !@episode.guests.empty? %>
        <h3 class="green">Guest</h3>
        <% @episode.guests.each do |guest| %>
          <% next if guest.full_name == "Saron Yitbarek" %>
          <h3><%= guest.full_name %>
            <span class="thin">
              <%= guest.job_title if guest.job_title.present? %>,
              <%= guest.company if guest.company.present?%>
            </span>
          </h3>
          <p class="gray">
            <%= link_to "twitter", "http://twitter.com/#{guest.twitter}", target: "blank" if guest.twitter.present? %>,
            <%= link_to "github", "http://github.com/#{guest.github}", target: "blank" if guest.github.present? %>,
            <% guest.other_links.each do |link| %>
              <%= link_to "personal site", link, target: "blank" %>
            <% end %>
          </p>

          <%= simple_format(guest.bio) if guest.bio.present? %>

        <% end %>
      <% end %>
      <br>
      <br>
      <br>
      <br>
      <p class="caption">
        We're looking for sponsors for the CodeNewbie podcast. Interested? Email us at <%= mail_to "hello@codenewbie.org" %>.
      </p>

    </article>

    <h3 class="page-nav-buttons">
      <%#= link_to 'Back to Stories', blogs_path %>
      <%#= link_to 'Edit', edit_blog_path(@blog_post) if admin? %>
    </h3>
  </section>
</div>