<h1>Show Notes</h1>

<ul>
  <% @show_notes.each do |show_note| %>
    <li><%= link_to show_note.name, show_note.link, :target => "blank" %></li>
  <% end %>
</ul>

<%= form_for(@show_note) do |f| %>

  <%= hidden_field_tag "[podcast]", params[:slug] %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.text_field :link, :placeholder => "Link" %>

  <%= f.submit "Add Show Link" %>

<% end %>

<%= link_to "View Podcast", podcast_path(params[:slug]) %>
<%= link_to "Add Picks", new_podcast_pick_path(params[:slug]) %>