<div id="nav">
  <div class="sticky">
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="title-area">
          <li class="name">
            <span><a href="<%= root_path %>"><img src="/assets/logo-codenewbie-white.png"></a></span>
              <span class="slogan">Join us every Wed at 9PM EST for our weekly <a href="http://twitter.com/codenewbies" target="_blank">TwitterChat</a>.</span>
          </li>
          <li class="toggle-topbar menu-icon"><span></span></li>
        </ul>

          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="<%= chats_path %>">Blog</a></li>
            <li><a href="<%= podcasts_path %>">Podcast</a></li>
            <li><a href="<%= chat_info_path %>">Chat</a></li>
            <li><a href="<%= learn_path %>">Learn</a></li>
            <li><a href="http://discourse.codenewbie.org">Discourse</a></li>
            <% if user_signed_in? %>
            <li>
              <a href="<%= logout_path %>">Logout</a>
            </li>
            <% end %>
          </ul>
      </section>
    </nav>
  </div>
</div>